    <div class="pull-right">
        <a href="@Url.Action("Projects","SimGate")" class="btn btn-default">Projects</a>
        <a href="@Url.Action("Phones","SimGate")" class="btn btn-default">Phones</a>
        <a href="@Url.Action("Routes","SimGate")" class="btn btn-default">Routes</a>
        <a href="@Url.Action("Messages","SimGate")" class="btn btn-default">Messages</a>
        <a href="@Url.Action("Groups","SimGate")" class="btn btn-default">Groups</a>
        <a href="@Url.Action("Contacts","SimGate")" class="btn btn-default">Contacts</a>
        <a href="@Url.Action("Services","SimGate")" class="btn btn-default">Services</a>
    </div>