@model ProjectListModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;
    var gridPageSize = 5;
}
@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        Projects details
    </h1>
    @Html.Partial("_SimGateHeader", Model)
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div id="simgate-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#simgate-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        async: true,
                        url: "@Html.Raw(Url.Action("Projects", "SimGate"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columnMenu: true,
            columns: [{
                field: "Name",
                title: "@T("Name")"
            }, {
                field: "TimeZone",
                title: "@T("Time zone")"
            }, {
                field: "Contacts",
                title: "@T("Contacts")"
            }, {
                field: "Phones",
                title: "@T("Phones")"
            }, {
                field: "Messages",
                title: "@T("Messages")"
            }, {
                field: "Routes",
                title: "@T("Routes")"
            }, {
                field: "Receipts",
                title: "@T("Receipts")"
            }, {
                field: "Active",
                title: "@T("Active")"
            }, {
                field: "UserID",
                title: "@T("UserID")"
            }]
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#change-project').click(function() {
        var grid = $('#simgate-grid').data('kendoGrid');
        grid.dataSource.page(1);
        return false;
    });

    $('#SearchProjectId').on('change', function() {
        var grid = $('#simgate-grid').data('kendoGrid');
        grid.dataSource.page(1);
    });
});

function additionalData() {
    var data = {
        SearchProjectId: $('#SearchProjectId').val(),
        CurrentProjectName: $("#SearchProjectId option:selected").text()
    };
    addAntiForgeryToken(data);
    return data;
}
</script>
