    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")"><a href="@Url.Action("index", "home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a></li>


            <li class="@Html.RouteIf("SimGate", "Index", "active")">
                <a href="@Url.Action("Index", "SimGate")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("SimGate", "Messages", "active")">
                <a href="@Url.Action("Messages", "SimGate")" title="Dashboard"><i class="fa fa-lg fa-fw fa-envelope"></i> <span class="menu-item-parent">Messages</span></a>
            </li>
            <li class="@Html.RouteIf("SimGate", "Contacts", "active")">
                <a href="@Url.Action("Contacts", "SimGate")" title="Dashboard"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Contacts</span></a>
            </li>
            <li class="@Html.RouteIf("SimGate", "Phones", "active")">
                <a href="@Url.Action("Phones", "SimGate")" title="Dashboard"><i class="fa fa-lg fa-fw fa-mobile-phone"></i> <span class="menu-item-parent">Phones</span></a>
            </li>


        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->