@using Nop.Core;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_Dashboard_Root.Head.cshtml";
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

@Html.Partial("_Dashboard_Header")

@if (Request.IsAuthenticated)
{
    @Html.Partial("_Aside")
}
<div id="main" role="main">
    @{ Html.RenderPartialIf("_Ribbon", Request.IsAuthenticated); }
    @RenderBody()
</div>

@if (Request.IsAuthenticated)
{
    Html.RenderPartial("_Footer");
    Html.RenderPartialIf("_Tiles", true);
}
@{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")